* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.navbar {
	display: flex;
	align-items: center;
	color: #f9faf8;
	background-color: #1f2937;
	padding: 20px 0px 20px 100px;
}

.logo {
	margin-right: auto;
}

.nav-links {
	display: flex;
	margin-left: auto;
	padding: 0px 100px 0px 0px;
	list-style: none;
}

.nav-links a {
	text-decoration: none;
	color: #e5e7eb;
	font-size: 18px;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
}
